<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studentnow.android"
    android:versionCode="1"
    android:versionName="0.5.2-alpha" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <permission
        android:name="com.studentnow.android.permission.C2D_MESSAGE"
        android:label="Recieves Student Now push"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.studentnow.android.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.studentnow.android.CardActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:logo="@drawable/ic_launcher2"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.studentnow.android.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:logo="@drawable/ic_launcher2"
            android:parentActivityName="com.studentnow.android.CardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.herod.studentnow.CardActivity" />
        </activity>
        <activity
            android:name="com.studentnow.android.CreditActivity"
            android:label="@string/title_activity_credit"
            android:logo="@drawable/ic_launcher2"
            android:parentActivityName="com.studentnow.android.CardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.herod.studentnow.CardActivity" />
        </activity>
        <activity
            android:name="com.studentnow.android.SessionActivity"
            android:label="@string/title_activity_session"
            android:logo="@drawable/ic_launcher2"
            android:parentActivityName="com.studentnow.android.CardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.herod.studentnow.CardActivity" />
        </activity>
        <activity
            android:name="com.studentnow.android.SetupActivity"
            android:label="@string/title_activity_setup_programme"
            android:launchMode="singleTask"
            android:logo="@drawable/ic_launcher2"
            android:parentActivityName="com.studentnow.android.CardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.herod.studentnow.CardActivity" />
        </activity>
        <activity
            android:name="com.studentnow.android.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.studentnow.android.InstitutionSelectActivity"
            android:label="@string/title_activity_institution_select"
            android:parentActivityName="com.studentnow.android.SetupActivity"
            android:theme="@style/FullHeightDialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.herod.studentnow.SetupActivity" />
        </activity>
        <activity
            android:name="com.studentnow.android.CourseSelectActivity"
            android:label="@string/title_activity_course_search"
            android:logo="@drawable/ic_launcher2"
            android:parentActivityName="com.studentnow.android.CardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.hacksoc.studentnow.CardActivity" />
        </activity>

        <service
            android:name="com.studentnow.android.service.LiveService"
            android:enabled="true" >
        </service>

        <receiver
            android:name="com.studentnow.android.LiveServiceStartReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:enabled="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.studentnow.android" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.studentnow.android.GCMIntentService"
            android:enabled="true" >
        </service>
    </application>

</manifest>
